.header{
    background-color: rgb(242, 132, 48);
    height: 80px;
    position:fixed;
    width:100%;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
body{
    background-color: antiquewhite;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;

}

.nav-link {
    color:white;
    text-decoration: none;

}

.logo {
    margin-left: 20px;
    font:30px;
    font-weight: bold;
    padding: 0 40 px;
    line-height:80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-menu {
    display: flex;
    margin-right: 40px

}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px ;
    line-height: 80px;
    width:max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}
.nav-menu-link:hover {
    background-color: rgb(162, 149, 157);
    transition: 0.5s;
}